<div class="bg-gray-100 flex flex-col flex-wrap items-center"
     style="min-height: calc(100vh - 4rem)" >
  <div class="p-8">
    <h1 class="my-16 text-3xl text-blue-800">This application was developed during Novatec Hackathon on 12.02.2021 by</h1>
  </div>
  <div class="flex flex-wrap items-center justify-center">
    <div class="flex flex-row items-center justify-center">
      <div class="min-w-max	max-w-md rounded bg-white p-8 px-32 shadow-lg">
        <img src="assets/mng.jpg" alt="" class="h-40 w-40 mx-auto rounded-full object-cover">
        <h2 class="mt-4 font-bold text-xl text-gray-800">Minh Chi Nguyen</h2>
        <h6 class="mt-2 text-sm font-medium text-gray-700">Consultant</h6>
        <h6 class="mt-2 text-sm font-medium text-gray-700">PA Technology Consulting</h6>
      </div>
    </div>

    <div class="flex flex-row items-center justify-center mt-8 md:mt-0 ml-0 md:ml-8">
      <div class="min-w-max	max-w-md rounded bg-white p-8 px-32 shadow-lg">
        <img src="assets/pkt.jpg" alt="" class="h-40 w-40 mx-auto rounded-full object-cover">
        <h2 class="mt-4 font-bold text-xl text-gray-800">Peter Kutschera</h2>
        <h6 class="mt-2 text-sm font-medium text-gray-700">Senior Managing Consultant</h6>
        <h6 class="mt-2 text-sm font-medium text-gray-700">PA Technology Consulting</h6>
      </div>
    </div>
  </div>

</div>

